/* HTML TAGS */

body
{

	padding: 0;
	text-align: center;
}
.body:after{
	content:"";
	display: block;
	clear:both;
}

#google {
	position: absolute;
	right: 5%;
	top: 50%;
	width: 13%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

img{
	max-width: 100%;
	max-height: 100%;
}


/* OBJECTS */
.left_screen{
	float: left;
	width: 38%;
	margin: 10px 0 10px 40px;
	background-size: 100%;
}

.modal_left{
	float: left;
	width: 42%;
}
.modal_right{
	float: right;
	width: 58%;
}
.modal_center{
	float: left;
	width: 92%;
}

.center_screen{
	float: left;
	width: 50%;


}

.empty:hover .image {
	opacity: 0.3;
}




#footer{
	clear: both;
	margin-top: 20px;
}



.scrabble_main{
	margin-top: 25px;

}


.scrabble_main:after{
	content:"";
	display: block;
	clear:both;
}


#setting{
	float: left;
	width: 10%;
}
#scrabble_title{
	float: left;
	width: 70%;
	margin: 0 10px;

}
#team_name{
	float: left;
	width: 15%;
}

#userBox1{
	float: left;
	width: 45%;
	margin-left: 30px;
	margin-bottom: 10px;
}
#userBox2{
	float: left;
	width: 45%;
	margin-left: 10px;
	margin-bottom: 10px;
}
#userBox3{
	float: left;
	width: 45%;
	margin-left: 30px;

}
#userBox4{
	float: left;
	width: 45%;
	margin-left: 10px;
}

#show_up{
	float: left;
	width: 17%;
	margin: 25px 0 0 50px;
	margin-bottom: 5px;
}

#tiles_left{
	float: left;
	margin-top: 20px;
	width: 45%;
}

#next_turn{
	float: right;
	margin-right: 47px;
	width: 17%;
	margin-top: 25px;
}


#hint_empty{
	float: left;
	width: 20%;
	margin-left: 4px;
}

#dictionary{
	float: left;
	width: 25%;
	margin-left: 1px;
}

#LW{
	float: left;
	width: 45%;
	margin-left: 5px;
}

#board td .placed
{

	border-top-color: #FF6666;
	border-right-color: #990000;
	border-bottom-color: #990000;
	border-left-color: #FF6666;
	background-color: #FF0000;
	color: #FFFFFF;
}

#board td a.placed:hover
{
	border-top-color: #FFCC66;
	border-right-color: #CC6600;
	border-bottom-color: #CC6600;
	border-left-color: #FFCC66;
	background-color: #FF9900;
	color: #FFFFFF;
}

.bottom_left{
	margin-top: 40px;
}

.tile
{
	background-position: center;
	background-size: cover;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	font-weight: bold;
	text-dedisplay:block;
}

.tile .score
{
	font-size: 0.65em;
	vertical-align: sub;
}

.background
 {
 background:url('./img/Tile.png') no-repeat;
 height:220px;
 width:220px;
 }


#tileStorage
{
	width: 100%;
	text-align: center;

}

#tileStorage input
{
	width: 10em;
	padding: 0.25em;
}

#tileStorage a.on:hover
{
	border-top-color: #66CC66;
	border-right-color: #006600;
	border-bottom-color: #006600;
	border-left-color: #66CC66;
	background-color: #009900;
	color: #FFFFFF;
}

a.on
{
	border-top-color: #66CC66;
	border-right-color: #006600;
	border-bottom-color: #006600;
	border-left-color: #66CC66;
	background-color: #009900;
	color: #FFFFFF;
}



#exchange{
	float: left;
	width: 30%;
	margin-left: 43px;
}
#pass{
	float: left;
	width: 80px;
	margin-left: 20px;
}
#shuffle{
	float: left;
	width: 30%;
	margin-left: 20px;
}

#board
{
	margin-left: 20px;
	margin-right: 0;
	border: none;

}

#board td
{

}

#board td .empty
{
}


#board td .placed
{
	border-top-color: #FF6666;
	border-right-color: #990000;
	border-bottom-color: #990000;
	border-left-color: #FF6666;
	background-color: #FF0000;
	color: #FFFFFF;
}

.image{
	height: 30px;
	width: 30px;
}

/*
#board td .empty
{
	background-color: yellow;
	background-size: ;
}

#board td a.empty:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#board td .placed
{
	border-top-color: #FF6666;
	border-right-color: #990000;
	border-bottom-color: #990000;
	border-left-color: #FF6666;
	background-color: #FF0000;
	color: #FFFFFF;
}

#board td a.placed:hover
{
	border-top-color: #FFCC66;
	border-right-color: #CC6600;
	border-bottom-color: #CC6600;
	border-left-color: #FFCC66;
	background-color: #FF9900;
	color: #FFFFFF;
}

#board td.doubleLetter
{
	border-top-color: #6699FF;
	border-right-color: #CCEEFF;
	border-bottom-color: #CCEEFF;
	border-left-color: #6699FF;
	padding: 0;
	background-size: 100%;
}

#board td.doubleLetter .empty
{
	border-color: #99CCFF;
	background-color: #99CCFF;
	color: #CCE6FF;
}

#board td.doubleWord
{
	border-top-color: #AF7F7F;
	border-right-color: #FFCCCC;
	border-bottom-color: #FFCCCC;
	border-left-color: #AF7F7F;
	padding: 0;
	background-size: 100%;
}

#board td.doubleWord .empty
{
	border-color: #FF9999;
	background-color: #FF9999;
	color: #FFCCCC;
}

#board td.star
{
	border-top-color: #CC9933;
	border-right-color: #FFEECC;
	border-bottom-color: #FFEECC;
	border-left-color: #CC9933;
	padding: 0;
	background-size: 100%;
}

#board td.star .empty
{
	border-color: #FFCC66;
	background-color: #FFCC66;
}

#board td.tripleLetter
{
	border-top-color: #003399;
	border-right-color: #6699CC;
	border-bottom-color: #6699CC;
	border-left-color: #003399;
	padding: 0;
	background-size: 100%;
}

#board td.tripleLetter .empty
{
	border-color: #0066CC;
	background-color: #0066CC;
	color: #0099CC;
}

#board td.tripleWord
{
	border-top-color: #AA0000;
	border-right-color: #FF9999;
	border-bottom-color: #FF9999;
	border-left-color: #AA0000;
	padding: 0;
	background-size: 100%;
}

#board td.tripleWord .empty
{
	border-color: #DD3333;
  background-size: 100%;
background-color: #DD3333;
	color: #FF6666
}

*/
/*
#content
{
	padding: 0 10px;
	text-align: left;
}

#stats
{
	margin-top: 1em;
	font-weight: bold;
	font-size: 110%;
}

#tileStorage
{
	margin-top: 1em;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#tileStorage a.on:hover
{
	border-top-color: #66CC66;
	border-right-color: #006600;
	border-bottom-color: #006600;
	border-left-color: #66CC66;
	background-color: #009900;
	color: #FFFFFF;
}

#tileStorage input
{
	width: 10em;
	padding: 0.25em;
}


#tileStorage td.tileStore
{
	margin: 0;
	border-top: 0.08em solid #999999;
	border-right: 0.08em solid #EEEEEE;
	border-bottom: 0.08em solid #EEEEEE;
	border-left: 0.08em solid #999999;
	padding: 0;
	vertical-align: middle;
}

#tileStorage .empty
{
	border: 0.15em solid #CCCCCC;
	background-color: #CCCCCC;
}

#tileStorage td a.empty:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#tileStorage .tile:hover
{
	border-top-color: #FFCC66;
	border-right-color: #CC6600;
	border-bottom-color: #CC6600;
	border-left-color: #FFCC66;
	background-color: #FF9900;
	color: #FFFFFF;
}

#tileStorage .hidden
{
	visibility: hidden;
}




/* CLASSES */
/*
a.on
{
	border-top-color: #66CC66;
	border-right-color: #006600;
	border-bottom-color: #006600;
	border-left-color: #66CC66;
	background-color: #009900;
	color: #FFFFFF;
}

.empty
{
	display: block;
	margin: 0;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
}


.tile
{
	display: block;
	float: left;
	width: 1.5em;
	height: 1.5em;
	margin: 0;

	border: 0.15em solid #999966;
	border-top: 0.15em solid #FFFFCC;
	border-left: 0.15em solid #FFFFCC;
	padding: 0.25em;
	background-color: #CCCC99;
	color: #000000;
	text-align: center;
	line-height: 1.25em;
	font-weight: bold;
	text-decoration: none;
}

.tile .score
{
	font-size: 0.65em;
	vertical-align: sub;
}

.tile .blank
{
	color: #999999;
}
<<<<<<< HEAD
*/


/* dictionary */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.closeLW {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeLW:hover,
.closeLW:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
	.close2 {
		color: #aaaaaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	.close2:hover,
	.close2:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
	.closeTutorial {
		color: #aaaaaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	.closeTutorial:hover,
	.closeTutorial:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
	.closeVersion {
		color: #aaaaaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	.closeVersion:hover,
	.closeVersion:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
/*Dictionary*/

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}
.modal2-body{
	margin:120px;
	margin-left:150px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}




/* search word */

input[id="search-word"]{
		padding: 10px;
		font-size:20px;
		border: 1px;
	}

/*search - button */

#search{
	width: 10px;
	height: 20px;
}


.tiles_left {
	position: relative;
}

.hint_empty {
	position: relative;
}
.text{
	position: absolute;
	top:-20%;
	left: 30%;
	color:white;
	font-size: 1rem;
}

.user_icon{
	position: relative;
	width:50px;
	max-width: 50px;
	margin-top: -65px;
	margin-left: 10px;
}

.user_id {
	position: relative;
	margin-top: -50px;
	margin-left:-50px;
}

.score_box{
	position: relative;
	margin-top: -40px;
	margin-left:120px;
}

.score_text{
	position: relative;
	margin-top: -30px;
	margin-left:0px;
}


.turn_box{
	position: relative;
	margin-top: -10px;
	margin-left:90px;
	width: 50%;
}
